body {
    background-color: rgb(196, 176, 0);
}

input[type="button"] {
    background-color: rgb(196, 176, 0);
}

div.results {
    grid-template-columns: 25vw 34vw 30vw;
    gap: 1vw
}

div.one {
    text-align: right;
}

div.three {
    text-align: left;
}

span {
    display: block;
    margin-top: 2vw;
    margin-bottom: 2vw;
}

.slider {
    margin-top: 2vw;
    margin-bottom: 2vw;
}

.slider::-webkit-slider-thumb {
    background: rgb(214, 193, 0);
}
  
.slider::-moz-range-thumb {
    background: rgb(214, 193, 0);
}

.results_bar_IP {
    background-color: rgb(187, 179, 179);
    margin: 4vw;
    border-radius: 1.5vw;
    box-shadow: 1vw 1vw 2vw rgba(40, 37, 30, 0.2);
    position: relative;
}

.bar_IP {
    background-color: rgb(0, 124, 37);
    border-radius: 1.5vw;
    box-shadow: 1vw 1vw 2vw rgba(40, 37, 30, 0.2);
    width: 50%;
    height: 6vw;
}

.results_bar_IJ {
    background-color: rgb(173, 173, 173);
    margin: 4vw;
    border-radius: 1.5vw;
    box-shadow: 1vw 1vw 2vw rgba(40, 37, 30, 0.2);
    position: relative;
}

.bar_IJ {
    background-color: rgb(60, 0, 172);
    border-radius: 1.5vw;
    box-shadow: 1vw 1vw 2vw rgba(40, 37, 30, 0.2);
    width: 50%;
    height: 6vw;
}

.results_bar_EP {
    background-color: rgb(173, 173, 173);
    margin: 4vw;
    border-radius: 1.5vw;
    box-shadow: 1vw 1vw 2vw rgba(40, 37, 30, 0.2);
    position: relative;
}

.bar_EP {
    background-color: rgb(196, 134, 0);
    border-radius: 1.5vw;
    box-shadow: 1vw 1vw 2vw rgba(40, 37, 30, 0.2);
    width: 50%;
    height: 6vw;
}

.results_bar_EJ {
    background-color: rgb(173, 173, 173);
    margin: 4vw;
    border-radius: 1.5vw;
    box-shadow: 1vw 1vw 2vw rgba(40, 37, 30, 0.2);
    position: relative;
}

.bar_EJ {
    background-color: rgb(190, 0, 41);
    border-radius: 1.5vw;
    box-shadow: 1vw 1vw 2vw rgba(40, 37, 30, 0.2);
    width: 50%;
    height: 6vw;
}

.visual_container {
    margin: 3.5vw;
    position: relative;
    border-radius: 2vw;
    box-shadow: 1vw 1vw 2vw rgba(40, 37, 30, 0.4);
}

.visual_results {
    grid-template-columns: 20vw 20vw 20vw 20vw;
    grid-template-rows: 20vw 20vw 20vw 20vw;
    justify-content: center;
    font-weight: bold;
    font-size: 3vw;
}

.center_text {
    position: relative;
    top: 38%;
    width: 100%;
    text-align: center;
}

.ENFJ {
    background-color: rgb(0, 102, 255);
    border-radius: 2vw 0 0 0;
}

.ENFP {
    background-color: rgb(0, 155, 226);
}

.ENTJ {
    background-color: rgb(226, 230, 0);
}

.ENTP {
    background-color: rgb(255, 187, 0);
    border-radius: 0 2vw 0 0;
}

.ESFJ {
    background-color: rgb(0, 124, 133);
}

.ESFP {
    background-color: rgb(106, 104, 223);
}

.ESTJ {
    background-color: rgb(221, 223, 104);
}

.ESTP {
    background-color: rgb(255, 153, 0);
}

.INFJ {
    background-color: rgb(0, 145, 56);
}

.INFP {
    background-color: rgb(104, 192, 78);
}

.INTJ {
    background-color: rgb(223, 104, 130);
}

.INTP {
    background-color: rgb(255, 72, 0);
}

.ISFJ {
    background-color: rgb(0, 182, 15);
    border-radius: 0 0 0 2vw;
}

.ISFP {
    background-color: rgb(72, 136, 0);
}

.ISTJ {
    background-color: rgb(202, 0, 78);
}

.ISTP {
    background-color: rgb(255, 0, 0);
    border-radius: 0 0 2vw 0;
}

@media only screen and (min-width: 600px){
    div.results {
        grid-template-columns: 150px 230px 150px;
        gap: 10px
    }

    span {
        display: block;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    
    .slider {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .results_bar_IP {
        margin: 30px;
        border-radius: 10px;
        box-shadow: 14px 14px 28px rgba(40, 37, 30, 0.2);
        position: relative;
    }
    
    .bar_IP {
        border-radius: 10px;
        box-shadow: 14px 14px 28px rgba(40, 37, 30, 0.2);
        width: 50%;
        height: 40px;
    }

    .results_bar_IJ {
        margin: 30px;
        border-radius: 10px;
        box-shadow: 14px 14px 28px rgba(40, 37, 30, 0.2);
        position: relative;
    }
    
    .bar_IJ {
        border-radius: 10px;
        box-shadow: 14px 14px 28px rgba(40, 37, 30, 0.2);
        width: 50%;
        height: 40px;
    }

    .results_bar_EP {
        margin: 30px;
        border-radius: 10px;
        box-shadow: 14px 14px 28px rgba(40, 37, 30, 0.2);
        position: relative;
    }
    
    .bar_EP {
        border-radius: 10px;
        box-shadow: 14px 14px 28px rgba(40, 37, 30, 0.2);
        width: 50%;
        height: 40px;
    }

    .results_bar_EJ {
        margin: 30px;
        border-radius: 10px;
        box-shadow: 14px 14px 28px rgba(40, 37, 30, 0.2);
        position: relative;
    }
    
    .bar_EJ {
        border-radius: 10px;
        box-shadow: 14px 14px 28px rgba(40, 37, 30, 0.2);
        width: 50%;
        height: 40px;
    }

    .visual_container {
        margin: 26px;
        position: relative;
        border-radius: 10px;
        box-shadow: 7px 7px 14px rgba(40, 37, 30, 0.4);
    }

    .visual_results {
        grid-template-columns: 125px 125px 125px 125px;
        grid-template-rows: 125px 125px 125px 125px;
        justify-content: center;
        font-weight: bold;
        font-size: 14pt;
    }
    
    .center_text {
        position: relative;
        top: 39%;
        width: 100%;
        text-align: center;
    }

    .ENFJ {
        border-radius: 10px 0 0 0;
    }

    .ENTP {
        border-radius: 0 10px 0 0;
    }

    .ISFJ {
        border-radius: 0 0 0 10px;
    }

    .ISTP {
        border-radius: 0 0 10px 0;
    }
}