body {
    background-color: rgb(16, 113, 120);
}

input[type="button"] {
    background-color: rgb(32, 160, 160);
}

.slider::-webkit-slider-thumb {
    background-color: rgb(32, 160, 160);
}
  
.slider::-moz-range-thumb {
    background-color: rgb(32, 160, 160);
}

.slider_a::-webkit-slider-thumb {
    background-color: rgb(32, 160, 160);
}
  
.slider_a::-moz-range-thumb {
    background-color: rgb(32, 160, 160);
}

.indicator_lights {
    display: flex;
    gap: 1.5vw;
    justify-content: center;
    background-color: rgb(10, 10, 10);
    box-shadow: 1vw 1vw 2vw rgba(40, 37, 30, 0.2);
    padding: 2vw;
    border-radius: 1.5vw;;
}

.light {
    background-color: rgb(60, 60, 60);
    width: 5vw;
    height: 3vw;
    border-radius: 1vw;
}

@media only screen and (min-width: 600px) {
    .indicator_lights {
        display: flex;
        gap: 10px;
        justify-content: center;
        background-color: rgb(10, 10, 10);
        box-shadow: 7px 7px 14px rgba(40, 37, 30, 0.2);
        padding: 10px;
        border-radius: 10px;
        max-width: 400px;
        margin-left: 12%;
    }
    
    .light {
        background-color: rgb(60, 60, 60);
        height: 20px;
        border-radius: 6px;
    }
}