body {
    font-family: system-ui, Arial, Helvetica, sans-serif;
    background-color: rgb(40, 120, 24);
    color: rgb(40, 37, 30);
    font-weight: bold;
}

a {
    color: rgb(20, 140, 70);
    text-decoration: none;
}

div.main {
    border-radius: 20px;
    background-color: rgb(230, 225, 215);
    padding: 1.5em;
    margin: 0.5em;
}

span {
    font-weight: bold;
}

input[type="number"] {
    width: 5em;
    height: 2em;
    background-color: rgb(245, 252, 238);
    border: none;
    border-radius: 0.67em;
    font-family: system-ui, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 9pt;
}

input[type="text"] {
    height: 2em;
    background-color: rgb(245, 252, 238);
    border: none;
    border-radius: 0.67em;
    font-family: system-ui, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 9pt;
}

table {
    border-collapse: collapse;
    background-color: rgb(210, 205, 195);
    border-radius: 0.67em;
    font-weight: bold;
    font-size: 9pt;
}

td, th, tr {
    border-radius: 0.5em;
    text-align: center;
    padding: 0.5em;
}

th {
    width: 12em;
}

input[type="button"] {
    padding: 0.7em;
    font-family: system-ui, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12pt;
    background-color: rgb(20, 140, 100);
    border: none;
    border-radius: 0.5em;
    margin: 0.2em;
    width: 12em;
    text-align: left;
    color: rgb(245, 252, 238);
}

input[type="range"] {
    width: 20em;
}

hr {
    border: 2px solid rgb(210, 205, 195)
}