body {
    font-family: system-ui, Arial, Helvetica, sans-serif;
    background-color: darkgreen;
    color: white;
}

a {
    color: greenyellow;
    text-decoration: none;
}

span {
    font-weight: bold;
}

input[type="number"] {
    width: 4em;
    height: 2em;
    background-color: darkgreen;
    border: 2px rgb(78, 194, 0) solid;
}

input[type="text"] {
    height: 2em;
    background-color: darkgreen;
    border: 2px rgb(78, 194, 0) solid;
}

table {
    border-collapse: collapse;
    background-color: black;
}

td, th {
    border: 2px solid;
    text-align: center;
}