body {
    background-color: rgb(0, 0, 0)
}

input[type="button"] {
    background-color: rgb(230, 111, 0)
}

.results_bar_OTEs {
    background-color: rgb(187, 179, 179);
    margin: 4vw;
    border-radius: 1.5vw;
    box-shadow: 1vw 1vw 2vw rgba(40, 37, 30, 0.2);
    position: relative;
}

.bar_OTEs {
    background-color: rgb(0, 160, 93);
    border-radius: 1.5vw;
    box-shadow: 1vw 1vw 2vw rgba(40, 37, 30, 0.2);
    width: 50%;
    height: 6vw;
}

.results_bar_CONs {
    background-color: rgb(173, 173, 173);
    margin: 4vw;
    border-radius: 1.5vw;
    box-shadow: 1vw 1vw 2vw rgba(40, 37, 30, 0.2);
    position: relative;
}

.bar_CONs {
    background-color: rgb(0, 100, 167);
    border-radius: 1.5vw;
    box-shadow: 1vw 1vw 2vw rgba(40, 37, 30, 0.2);
    width: 50%;
    height: 6vw;
}

.results_bar_EXTs {
    background-color: rgb(173, 173, 173);
    margin: 4vw;
    border-radius: 1.5vw;
    box-shadow: 1vw 1vw 2vw rgba(40, 37, 30, 0.2);
    position: relative;
}

.bar_EXTs {
    background-color: rgb(199, 146, 0);
    border-radius: 1.5vw;
    box-shadow: 1vw 1vw 2vw rgba(40, 37, 30, 0.2);
    width: 50%;
    height: 6vw;
}

.results_bar_AGRs {
    background-color: rgb(173, 173, 173);
    margin: 4vw;
    border-radius: 1.5vw;
    box-shadow: 1vw 1vw 2vw rgba(40, 37, 30, 0.2);
    position: relative;
}

.bar_AGRs {
    background-color: rgb(190, 0, 57);
    border-radius: 1.5vw;
    box-shadow: 1vw 1vw 2vw rgba(40, 37, 30, 0.2);
    width: 50%;
    height: 6vw;
}

.results_bar_NEUs {
    background-color: rgb(173, 173, 173);
    margin: 4vw;
    border-radius: 1.5vw;
    box-shadow: 1vw 1vw 2vw rgba(40, 37, 30, 0.2);
    position: relative;
}

.bar_NEUs {
    background-color: rgb(121, 0, 177);
    border-radius: 1.5vw;
    box-shadow: 1vw 1vw 2vw rgba(40, 37, 30, 0.2);
    width: 50%;
    height: 6vw;
}

.charts {
    grid-template-columns: 40vw 40vw;
    grid-template-rows: 40vw 40vw 40vw 40vw 40vw;
    gap: 3vw;
    justify-content: center;
}

.visual_container {
    position: relative;
    border-radius: 2vw;
    box-shadow: 1vw 1vw 2vw rgba(40, 37, 30, 0.4);
}

.point {
    position: absolute;
    width: 0.1vw;
    height: 0.1vw;
    border-radius: 2vw;
    outline: rgb(0, 0, 0) solid 2vw;
    background-color: black;
    bottom: 0%;
    left: 0%;
}

.visual_results_oc {
    grid-template-columns: 20vw 20vw;
    grid-template-rows: 20vw 20vw;
    justify-content: center;
    font-weight: bold;
    font-size: 2.7vw;
    background-image: url(big5/IMG_3133.png);
    background-size: cover;
    border-radius: 2vw;
}

.visual_results_oe {
    grid-template-columns: 20vw 20vw;
    grid-template-rows: 20vw 20vw;
    justify-content: center;
    font-weight: bold;
    font-size: 2.7vw;
    background-image: url(big5/IMG_3134.png);
    background-size: cover;
    border-radius: 2vw;
}

.visual_results_oa {
    grid-template-columns: 20vw 20vw;
    grid-template-rows: 20vw 20vw;
    justify-content: center;
    font-weight: bold;
    font-size: 2.7vw;
    background-image: url(big5/IMG_3135.png);
    background-size: cover;
    border-radius: 2vw;
}

.visual_results_on {
    grid-template-columns: 20vw 20vw;
    grid-template-rows: 20vw 20vw;
    justify-content: center;
    font-weight: bold;
    font-size: 2.7vw;
    background-image: url(big5/IMG_3136.png);
    background-size: cover;
    border-radius: 2vw;
}

.visual_results_ce {
    grid-template-columns: 20vw 20vw;
    grid-template-rows: 20vw 20vw;
    justify-content: center;
    font-weight: bold;
    font-size: 2.7vw;
    background-image: url(big5/IMG_3137.png);
    background-size: cover;
    border-radius: 2vw;
}

.visual_results_ca {
    grid-template-columns: 20vw 20vw;
    grid-template-rows: 20vw 20vw;
    justify-content: center;
    font-weight: bold;
    font-size: 2.7vw;
    background-image: url(big5/IMG_3138.png);
    background-size: cover;
    border-radius: 2vw;
}

.visual_results_cn {
    grid-template-columns: 20vw 20vw;
    grid-template-rows: 20vw 20vw;
    justify-content: center;
    font-weight: bold;
    font-size: 2.7vw;
    background-image: url(big5/IMG_3139.png);
    background-size: cover;
    border-radius: 2vw;
}

.visual_results_ea {
    grid-template-columns: 20vw 20vw;
    grid-template-rows: 20vw 20vw;
    justify-content: center;
    font-weight: bold;
    font-size: 2.7vw;
    background-image: url(big5/IMG_3140.png);
    background-size: cover;
    border-radius: 2vw;
}

.visual_results_en {
    grid-template-columns: 20vw 20vw;
    grid-template-rows: 20vw 20vw;
    justify-content: center;
    font-weight: bold;
    font-size: 2.7vw;
    background-image: url(big5/IMG_3141.png);
    background-size: cover;
    border-radius: 2vw;
}

.visual_results_an {
    grid-template-columns: 20vw 20vw;
    grid-template-rows: 20vw 20vw;
    justify-content: center;
    font-weight: bold;
    font-size: 2.7vw;
    background-image: url(big5/IMG_3142.png);
    background-size: cover;
    border-radius: 2vw;
}

.visual_results_social {
    grid-template-columns: 20vw 20vw;
    grid-template-rows: 20vw 20vw;
    justify-content: center;
    font-weight: bold;
    font-size: 2.7vw;
    background-image: url(big5/IMG_3150.png);
    background-size: cover;
    border-radius: 2vw;
}

.visual_results_kei {
    grid-template-columns: 20vw 20vw;
    grid-template-rows: 20vw 20vw;
    justify-content: center;
    font-weight: bold;
    font-size: 2.7vw;
    background-image: url(big5/IMG_3149.png);
    background-size: cover;
    border-radius: 2vw;
}

.visual_results_mental {
    grid-template-columns: 20vw 20vw;
    grid-template-rows: 20vw 20vw;
    justify-content: center;
    font-weight: bold;
    font-size: 2.7vw;
    background-image: url(big5/IMG_3148.png);
    background-size: cover;
    border-radius: 2vw;
}

.visual_results_org {
    grid-template-columns: 20vw 20vw;
    grid-template-rows: 20vw 20vw;
    justify-content: center;
    font-weight: bold;
    font-size: 2.7vw;
    background-image: url(big5/IMG_3151.png);
    background-size: cover;
    border-radius: 2vw;
}

.visual_results_mtemp {
    grid-template-columns: 20vw 20vw;
    grid-template-rows: 20vw 20vw;
    justify-content: center;
    font-weight: bold;
    font-size: 2.7vw;
    background-image: url(big5/IMG_3147.png);
    background-size: cover;
    border-radius: 2vw;
}

.visual_results_enn {
    grid-template-columns: 20vw 20vw;
    grid-template-rows: 20vw 20vw;
    justify-content: center;
    font-weight: bold;
    font-size: 2.7vw;
    background-image: url(big5/IMG_3146.png);
    background-size: cover;
    border-radius: 2vw;
}

.center_text {
    position: relative;
    top: 40%;
    width: 100%;
    text-align: center;
}

@media only screen and (min-width: 600px){
    .results_bar_OTEs {
        margin: 30px;
        border-radius: 10px;
        box-shadow: 14px 14px 28px rgba(40, 37, 30, 0.2);
        position: relative;
    }
    
    .bar_OTEs {
        border-radius: 10px;
        box-shadow: 14px 14px 28px rgba(40, 37, 30, 0.2);
        width: 50%;
        height: 40px;
    }

    .results_bar_CONs {
        margin: 30px;
        border-radius: 10px;
        box-shadow: 14px 14px 28px rgba(40, 37, 30, 0.2);
        position: relative;
    }
    
    .bar_CONs {
        border-radius: 10px;
        box-shadow: 14px 14px 28px rgba(40, 37, 30, 0.2);
        width: 50%;
        height: 40px;
    }

    .results_bar_EXTs {
        margin: 30px;
        border-radius: 10px;
        box-shadow: 14px 14px 28px rgba(40, 37, 30, 0.2);
        position: relative;
    }
    
    .bar_EXTs {
        border-radius: 10px;
        box-shadow: 14px 14px 28px rgba(40, 37, 30, 0.2);
        width: 50%;
        height: 40px;
    }

    .results_bar_AGRs {
        margin: 30px;
        border-radius: 10px;
        box-shadow: 14px 14px 28px rgba(40, 37, 30, 0.2);
        position: relative;
    }
    
    .bar_AGRs {
        border-radius: 10px;
        box-shadow: 14px 14px 28px rgba(40, 37, 30, 0.2);
        width: 50%;
        height: 40px;
    }

    .results_bar_NEUs {
        margin: 30px;
        border-radius: 10px;
        box-shadow: 14px 14px 28px rgba(40, 37, 30, 0.2);
        position: relative;
    }
    
    .bar_NEUs {
        border-radius: 10px;
        box-shadow: 14px 14px 28px rgba(40, 37, 30, 0.2);
        width: 50%;
        height: 40px;
    }

    .visual_container {
        margin: 0px;
        position: relative;
        border-radius: 5%;
        box-shadow: 7px 7px 14px rgba(40, 37, 30, 0.4);
    }
    
    .point {
        position: absolute;
        width: 1px;
        height: 1px;
        border-radius: 5px;
        outline: rgb(0, 0, 0) solid 10px;
        background-color: black;
        bottom: 0%;
        left: 0%;
    }

    .charts {
        grid-template-columns: 250px 250px;
        grid-template-rows: 250px 250px 250px 250px 250px;
        gap: 20px;
        justify-content: center;
    }
    
    .visual_results {
        grid-template-columns: 125px 125px;
        grid-template-rows: 125px 125px;
        justify-content: center;
        font-weight: bold;
        font-size: 10pt;
        border-radius: 5%;
    }
    
    .visual_results_oc {
        grid-template-columns: 125px 125px;
        grid-template-rows: 125px 125px;
        justify-content: center;
        font-weight: bold;
        font-size: 10pt;
        border-radius: 5%;
    }
    
    .visual_results_oe {
        grid-template-columns: 125px 125px;
        grid-template-rows: 125px 125px;
        justify-content: center;
        font-weight: bold;
        font-size: 10pt;
        border-radius: 5%;
    }
    
    .visual_results_oa {
        grid-template-columns: 125px 125px;
        grid-template-rows: 125px 125px;
        justify-content: center;
        font-weight: bold;
        font-size: 10pt;
        border-radius: 5%;
    }
    
    .visual_results_on {
        grid-template-columns: 125px 125px;
        grid-template-rows: 125px 125px;
        justify-content: center;
        font-weight: bold;
        font-size: 10pt;
        border-radius: 5%;
    }
    
    .visual_results_ce {
        grid-template-columns: 125px 125px;
        grid-template-rows: 125px 125px;
        justify-content: center;
        font-weight: bold;
        font-size: 10pt;
        border-radius: 5%;
    }
    
    .visual_results_ca {
        grid-template-columns: 125px 125px;
        grid-template-rows: 125px 125px;
        justify-content: center;
        font-weight: bold;
        font-size: 10pt;
        border-radius: 5%;
    }
    
    .visual_results_cn {
        grid-template-columns: 125px 125px;
        grid-template-rows: 125px 125px;
        justify-content: center;
        font-weight: bold;
        font-size: 10pt;
        border-radius: 5%;
    }
    
    .visual_results_ea {
        grid-template-columns: 125px 125px;
        grid-template-rows: 125px 125px;
        justify-content: center;
        font-weight: bold;
        font-size: 10pt;
        border-radius: 5%;
    }
    
    .visual_results_en {
        grid-template-columns: 125px 125px;
        grid-template-rows: 125px 125px;
        justify-content: center;
        font-weight: bold;
        font-size: 10pt;
        border-radius: 5%;
    }
    
    .visual_results_an {
        grid-template-columns: 125px 125px;
        grid-template-rows: 125px 125px;
        justify-content: center;
        font-weight: bold;
        font-size: 10pt;
        border-radius: 5%;
    }
    
    .visual_results_social {
        grid-template-columns: 125px 125px;
        grid-template-rows: 125px 125px;
        justify-content: center;
        font-weight: bold;
        font-size: 10pt;
        border-radius: 5%;
    }
    
    .visual_results_kei {
        grid-template-columns: 125px 125px;
        grid-template-rows: 125px 125px;
        justify-content: center;
        font-weight: bold;
        font-size: 10pt;
        border-radius: 5%;
    }
    
    .visual_results_mental {
        grid-template-columns: 125px 125px;
        grid-template-rows: 125px 125px;
        justify-content: center;
        font-weight: bold;
        font-size: 10pt;
        border-radius: 5%;
    }
    
    .visual_results_org {
        grid-template-columns: 125px 125px;
        grid-template-rows: 125px 125px;
        justify-content: center;
        font-weight: bold;
        font-size: 10pt;
        border-radius: 5%;
    }
    
    .visual_results_mtemp {
        grid-template-columns: 125px 125px;
        grid-template-rows: 125px 125px;
        justify-content: center;
        font-weight: bold;
        font-size: 10pt;
        border-radius: 5%;
    }
    
    .visual_results_enn {
        grid-template-columns: 125px 125px;
        grid-template-rows: 125px 125px;
        justify-content: center;
        font-weight: bold;
        font-size: 10pt;
        border-radius: 5%;
    }
    
    .center_text {
        position: relative;
        top: 42%;
        width: 100%;
        text-align: center;
    }
}