body {
    background-color: rgb(0, 97, 68);
}

div.main {
    background-color: rgb(19, 61, 48);
}

input[type="button"], h1 {
    background-color: rgb(80, 0, 126);
}

.results_bar {
    background-color: rgb(187, 179, 179);
    margin: 4vw;
    
    box-shadow: 2vw 2vw rgba(0, 0, 0, 0.7);
    position: relative;
}

.bar_vam {
    background-color: rgb(110, 0, 0);
    
    
    width: 50%;
    height: 6vw;
}

.bar_alc {
    background-color: rgb(0, 114, 108);
    
    
    width: 50%;
    height: 6vw;
}

.bar_tim {
    background-color: rgb(67, 0, 94);
    
    
    width: 50%;
    height: 6vw;
}

.bar_cyc {
    background-color: rgb(6, 85, 138);
    
    
    width: 50%;
    height: 6vw;
}

.bar_lum {
    background-color: rgb(185, 110, 12);
    
    
    width: 50%;
    height: 6vw;
}

.bar_mas {
    background-color: rgb(156, 63, 9);
    
    
    width: 50%;
    height: 6vw;
}

.bar_rob {
    background-color: rgb(6, 119, 63);
    
    
    width: 50%;
    height: 6vw;
}

.bar_sha {
    background-color: rgb(141, 6, 123);
    
    
    width: 50%;
    height: 6vw;
}

.bar_col {
    background-color: rgb(124, 133, 9);
    
    
    width: 50%;
    height: 6vw;
}

.bar_hun {
    background-color: rgb(117, 49, 17);
    
    
    width: 50%;
    height: 6vw;
}

.bar_fan {
    background-color: rgb(163, 13, 70);
    
    
    width: 50%;
    height: 6vw;
}

.bar_hyp {
    background-color: rgb(78, 87, 94);
    
    
    width: 50%;
    height: 6vw;
}

.bar_Q1 {
    background-color: rgb(124, 133, 9);
    
    
    width: 50%;
    height: 6vw;
}

.bar_Q2 {
    background-color: rgb(117, 49, 17);
    
    
    width: 50%;
    height: 6vw;
}

.bar_Q3 {
    background-color: rgb(163, 13, 70);
    
    
    width: 50%;
    height: 6vw;
}

.bar_Q4 {
    background-color: rgb(78, 87, 94);
    
    
    width: 50%;
    height: 6vw;
}

@media only screen and (min-width: 600px){
    .results_bar {
        margin: 30px;
        
        box-shadow: 12px 12px rgba(0, 0, 0, 0.7);
        position: relative;
    }
    
    .bar_vam {
        
        
        width: 50%;
        height: 40px;
    }
    
    .bar_alc {
        
        
        width: 50%;
        height: 40px;
    }
    
    .bar_tim {
        
        
        width: 50%;
        height: 40px;
    }
    
    .bar_cyc {
        
        
        width: 50%;
        height: 40px;
    }
    
    .bar_lum {
        
        
        width: 50%;
        height: 40px;
    }
    
    .bar_mas {
        
        
        width: 50%;
        height: 40px;
    }
    
    .bar_rob {
        
        
        width: 50%;
        height: 40px;
    }
    
    .bar_sha {
        
        
        width: 50%;
        height: 40px;
    }
    
    .bar_col {
        
        
        width: 50%;
        height: 40px;
    }
    
    .bar_hun {
        
        
        width: 50%;
        height: 40px;
    }
    
    .bar_fan {
        
        
        width: 50%;
        height: 40px;
    }
    
    .bar_hyp {
        
        
        width: 50%;
        height: 40px;
    }

    .bar_Q1 {
        
        
        width: 50%;
        height: 40px;
    }
    
    .bar_Q2 {
        
        
        width: 50%;
        height: 40px;
    }
    
    .bar_Q3 {
        
        
        width: 50%;
        height: 40px;
    }
    
    .bar_Q4 {
        
        
        width: 50%;
        height: 40px;
    }
}