body {
    background-color: rgb(196, 176, 0);
}

div.main {
    background-color: rgb(92, 85, 29);
}

input[type="button"], h1 {
    background-color: rgb(57, 156, 11);
}

div.results {
    grid-template-columns: 25vw 34vw 30vw;
    gap: 1vw
}

div.one {
    text-align: right;
}

div.three {
    text-align: left;
}

span {
    display: block;
    margin-top: 2vw;
    margin-bottom: 2vw;
}

.slider {
    margin-top: 2vw;
    margin-bottom: 2vw;
}

.slider::-webkit-slider-thumb {
    background: rgb(214, 193, 0);
}
  
.slider::-moz-range-thumb {
    background: rgb(214, 193, 0);
}

.results_bar {
    background-color: rgb(187, 179, 179);
    margin: 4vw;
    
    box-shadow: 2vw 2vw rgba(0, 0, 0, 0.7);
    position: relative;
}

.bar_Fe {
    background-color: rgb(175, 0, 131);
    
    
    width: 50%;
    height: 6vw;
}

.bar_Fi {
    background-color: rgb(94, 0, 122);
    
    
    width: 50%;
    height: 6vw;
}

.bar_Ne {
    background-color: rgb(207, 142, 0);
    
    
    width: 50%;
    height: 6vw;
}

.bar_Ni {
    background-color: rgb(129, 121, 0);
    
    
    width: 50%;
    height: 6vw;
}

.bar_Se {
    background-color: rgb(26, 153, 0);
    
    
    width: 50%;
    height: 6vw;
}

.bar_Si {
    background-color: rgb(0, 99, 44);
    
    
    width: 50%;
    height: 6vw;
}

.bar_Te {
    background-color: rgb(0, 109, 199);
    
    
    width: 50%;
    height: 6vw;
}

.bar_Ti {
    background-color: rgb(0, 22, 150);
    
    
    width: 50%;
    height: 6vw;
}

.visual_container {
    margin: 3.5vw;
    position: relative;
    
    
}

.visual_results {
    grid-template-columns: 20vw 20vw 20vw 20vw;
    grid-template-rows: 20vw 20vw 20vw 20vw;
    justify-content: center;
    font-weight: bold;
    font-size: 3vw;
    
}

.center_text {
    position: relative;
    top: 38%;
    width: 100%;
    text-align: center;
    
}

.INFP {
    background-color: hsl(157, 100%, 29%);
    
    
}

.INTP {
    background-color: hsl(162, 100%, 37%);
}

.INTJ {
    background-color: hsl(229, 74%, 53%);
}

.INFJ {
    background-color: hsl(271, 83%, 45%);
    box-shadow: 2vw 2vw rgba(0, 0, 0, 0.7);
    
}

.ISFP {
    background-color: hsl(88, 84%, 37%);
}

.ISTP {
    background-color: hsl(78, 92%, 39%);
}

.ISTJ {
    background-color: hsl(207, 88%, 41%);
}

.ISFJ {
    background-color: hsl(276, 86%, 52%);
    box-shadow: 2vw 2vw rgba(0, 0, 0, 0.7);
}

.ESFP {
    background-color: hsl(41, 100%, 43%);
}

.ESTP {
    background-color: hsl(36, 100%, 37%);
}

.ESTJ {
    background-color: hsl(12, 86%, 39%);
}

.ESFJ {
    background-color: hsl(345, 84%, 47%);
    box-shadow: 2vw 2vw rgba(0, 0, 0, 0.7);
}

.ENFP {
    background-color: hsl(56, 86%, 45%);
    box-shadow: 2vw 2vw rgba(0, 0, 0, 0.7);
    
}

.ENTP {
    background-color: hsl(49, 80%, 41%);
    box-shadow: 2vw 2vw rgba(0, 0, 0, 0.7);
}

.ENTJ {
    background-color: hsl(0, 84%, 49%);
    box-shadow: 2vw 2vw rgba(0, 0, 0, 0.7);
}

.ENFJ {
    background-color: hsl(340, 86%, 38%);
    box-shadow: 2vw 2vw rgba(0, 0, 0, 0.7);
    
}

@media only screen and (min-width: 600px){
    div.results {
        grid-template-columns: 150px 230px 150px;
        gap: 10px
    }

    span {
        display: block;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    
    .slider {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    
    .results_bar {
        margin: 30px;
        box-shadow: 12px 12px rgba(0, 0, 0, 0.7);
        
        position: relative;
    }
    
    .bar_Se {
        
        
        width: 50%;
        height: 40px;
    }
    
    .bar_Si {
        
        
        width: 50%;
        height: 40px;
    }
    
    .bar_Ne {
        
        
        width: 50%;
        height: 40px;
    }
    
    .bar_Ni {
        
        
        width: 50%;
        height: 40px;
    }

    .bar_Te {
        
        
        width: 50%;
        height: 40px;
    }
    
    .bar_Ti {
        
        
        width: 50%;
        height: 40px;
    }
    
    .bar_Fe {
        
        
        width: 50%;
        height: 40px;
    }
    
    .bar_Fi {
        
        
        width: 50%;
        height: 40px;
    }

    .visual_container {
        margin: 26px;
        position: relative;
        
        
    }

    .visual_results {
        grid-template-columns: 125px 125px 125px 125px;
        grid-template-rows: 125px 125px 125px 125px;
        justify-content: center;
        font-weight: bold;
        font-size: 14pt;
    }
    
    .center_text {
        position: relative;
        top: 39%;
        width: 100%;
        text-align: center;
        
    }

    .INFJ, .ISFJ, .ESFJ, .ENFJ, .ENFP, .ENTJ, .ENTP {
        
        box-shadow: 12px 12px rgba(0, 0, 0, 0.7);
    }

}