body {
    background-color: rgb(99, 16, 120);
}

input[type="button"] {
    background-color: rgb(15, 113, 143);
}

.results_bar_m {
    background-color: rgb(187, 179, 179);
    margin: 4vw;
    border-radius: 1.5vw;
    box-shadow: 1vw 1vw 2vw rgba(40, 37, 30, 0.2);
    position: relative;
}

.bar_m {
    background-color: rgb(219, 51, 0);
    border-radius: 1.5vw;
    box-shadow: 1vw 1vw 2vw rgba(40, 37, 30, 0.2);
    width: 50%;
    height: 6vw;
}

.results_bar_e {
    background-color: rgb(173, 173, 173);
    margin: 4vw;
    border-radius: 1.5vw;
    box-shadow: 1vw 1vw 2vw rgba(40, 37, 30, 0.2);
    position: relative;
}

.bar_e {
    background-color: rgb(15, 128, 0);
    border-radius: 1.5vw;
    box-shadow: 1vw 1vw 2vw rgba(40, 37, 30, 0.2);
    width: 50%;
    height: 6vw;
}

.results_bar_t {
    background-color: rgb(173, 173, 173);
    margin: 4vw;
    border-radius: 1.5vw;
    box-shadow: 1vw 1vw 2vw rgba(40, 37, 30, 0.2);
    position: relative;
}

.bar_t {
    background-color: rgb(121, 0, 168);
    border-radius: 1.5vw;
    box-shadow: 1vw 1vw 2vw rgba(40, 37, 30, 0.2);
    width: 50%;
    height: 6vw;
}

.results_bar_a {
    background-color: rgb(173, 173, 173);
    margin: 4vw;
    border-radius: 1.5vw;
    box-shadow: 1vw 1vw 2vw rgba(40, 37, 30, 0.2);
    position: relative;
}

.bar_a {
    background-color: rgb(0, 99, 165);
    border-radius: 1.5vw;
    box-shadow: 1vw 1vw 2vw rgba(40, 37, 30, 0.2);
    width: 50%;
    height: 6vw;
}

@media only screen and (min-width: 600px){
    .results_bar_m {
        margin: 30px;
        border-radius: 10px;
        box-shadow: 14px 14px 28px rgba(40, 37, 30, 0.2);
        position: relative;
    }
    
    .bar_m {
        border-radius: 10px;
        box-shadow: 14px 14px 28px rgba(40, 37, 30, 0.2);
        width: 50%;
        height: 40px;
    }

    .results_bar_e {
        margin: 30px;
        border-radius: 10px;
        box-shadow: 14px 14px 28px rgba(40, 37, 30, 0.2);
        position: relative;
    }
    
    .bar_e {
        border-radius: 10px;
        box-shadow: 14px 14px 28px rgba(40, 37, 30, 0.2);
        width: 50%;
        height: 40px;
    }

    .results_bar_t {
        margin: 30px;
        border-radius: 10px;
        box-shadow: 14px 14px 28px rgba(40, 37, 30, 0.2);
        position: relative;
    }
    
    .bar_t {
        border-radius: 10px;
        box-shadow: 14px 14px 28px rgba(40, 37, 30, 0.2);
        width: 50%;
        height: 40px;
    }

    .results_bar_a {
        margin: 30px;
        border-radius: 10px;
        box-shadow: 14px 14px 28px rgba(40, 37, 30, 0.2);
        position: relative;
    }
    
    .bar_a {
        border-radius: 10px;
        box-shadow: 14px 14px 28px rgba(40, 37, 30, 0.2);
        width: 50%;
        height: 40px;
    }
}