body {
    background-color: rgb(99, 16, 120);
}

div.main {
    background-color: rgb(63, 30, 71);
}

input[type="button"] {
    background-color: rgb(15, 113, 143);
}

h1 {
    background-color: rgb(15, 113, 143);
}

.results_bar_m {
    background-color: rgb(187, 179, 179);
    margin: 4vw;

    box-shadow: 2vw 2vw rgba(0, 0, 0, 0.7);
    position: relative;
}

.bar_m {
    background-color: rgb(219, 51, 0);
    
    
    width: 50%;
    height: 6vw;
}

.results_bar_e {
    background-color: rgb(173, 173, 173);
    margin: 4vw;
    
    box-shadow: 2vw 2vw rgba(0, 0, 0, 0.7);
    position: relative;
}

.bar_e {
    background-color: rgb(15, 128, 0);
    
    
    width: 50%;
    height: 6vw;
}

.results_bar_t {
    background-color: rgb(173, 173, 173);
    margin: 4vw;
    
    box-shadow: 2vw 2vw rgba(0, 0, 0, 0.7);
    position: relative;
}

.bar_t {
    background-color: rgb(121, 0, 168);
    
    
    width: 50%;
    height: 6vw;
}

.results_bar_a {
    background-color: rgb(173, 173, 173);
    margin: 4vw;
    box-shadow: 2vw 2vw rgba(0, 0, 0, 0.7);
    
    position: relative;
}

.bar_a {
    background-color: rgb(0, 99, 165);
    
    
    width: 50%;
    height: 6vw;
}

@media only screen and (min-width: 600px){
    .results_bar_m {
        margin: 30px;
        box-shadow: 12px 12px rgba(0, 0, 0, 0.7);
        
        position: relative;
    }
    
    .bar_m {
        
        
        width: 50%;
        height: 40px;
    }

    .results_bar_e {
        margin: 30px;
        box-shadow: 12px 12px rgba(0, 0, 0, 0.7);
        
        position: relative;
    }
    
    .bar_e {
        
        
        width: 50%;
        height: 40px;
    }

    .results_bar_t {
        margin: 30px;
        
        box-shadow: 12px 12px rgba(0, 0, 0, 0.7);
        position: relative;
    }
    
    .bar_t {
        

        width: 50%;
        height: 40px;
    }

    .results_bar_a {
        margin: 30px;
        box-shadow: 12px 12px rgba(0, 0, 0, 0.7);
        
        position: relative;
    }
    
    .bar_a {
        
        
        width: 50%;
        height: 40px;
    }
}