body {
    background-color: rgb(22, 95, 190)
}

div.main {
    background-color: rgb(44, 62, 85)
}

input[type="button"] {
    background-color: rgb(184, 135, 0)
}

h1 {
    background-color: rgb(184, 135, 0)
}

.results_bar {
    background-color: rgb(173, 173, 173);
    margin: 4vw;
    box-shadow: 2vw 2vw rgba(0, 0, 0, 0.7);
    
    position: relative;
    overflow: hidden;
}

.bar_M {
    background-color: rgb(64, 167, 81);
    
    
    width: 50%;
    height: 6vw;
    overflow: hidden;
}

.bar_B {
    background-color: rgb(89, 106, 204);
    
    
    width: 50%;
    height: 6vw;
    overflow: hidden;
}

.bar_S {
    background-color: rgb(145, 145, 145);
    
    
    width: 50%;
    height: 6vw;
    overflow: hidden;
}

.bar_A {
    background-color: rgb(180, 87, 87);
    
    
    width: 50%;
    height: 6vw;
    overflow: hidden;
}

.bar_F {
    background-color: rgb(0, 120, 124);
    
    
    width: 50%;
    height: 6vw;
    overflow: hidden;
}

.bar_V {
    background-color: rgb(180, 120, 80);
    
    
    width: 50%;
    height: 6vw;
    overflow: hidden;
}

.bar_P {
    background-color: rgb(0, 167, 8);
    
    
    width: 50%;
    height: 6vw;
    overflow: hidden;
}

.bar_Q {
    background-color: rgb(202, 155, 0);
    
    
    width: 50%;
    height: 6vw;
    overflow: hidden;
}

.bar_1 {
    background-color: rgb(0, 110, 201);
    
    
    width: 50%;
    height: 6vw;
    overflow: hidden;
}

.bar_2 {
    background-color: rgb(199, 0, 76);
    
    
    width: 50%;
    height: 6vw;
    overflow: hidden;
}

@media only screen and (min-width: 600px){
    .results_bar {
        margin: 30px;
        box-shadow: 12px 12px rgba(0, 0, 0, 0.7);
        
        position: relative;
    }
    
    .bar_M {
        
        
        width: 50%;
        height: 40px;
    }
    
    .bar_B {
        
        
        width: 50%;
        height: 40px;
    }
    
    .bar_S {
        
        
        width: 50%;
        height: 40px;
    }
    
    .bar_A {
        
        
        width: 50%;
        height: 40px;
    }
    
    .bar_F {
        
        
        width: 50%;
        height: 40px;
    }
    
    .bar_V {
        
        
        width: 50%;
        height: 40px;
    }
    
    .bar_P {
        
        
        width: 50%;
        height: 40px;
    }
    
    .bar_Q {
        
        
        width: 50%;
        height: 40px;
    }

    .bar_1 {
        
        
        width: 50%;
        height: 40px;
    }
    
    .bar_2 {
        
        
        width: 50%;
        height: 40px;
    }
}