body {
    background-color: rgb(107, 107, 107);
}

div.main {
    background-color: rgb(66, 66, 66);
}


input[type="button"] {
    background-color: rgb(0, 94, 100);
}

h1 {
    background-color: rgb(0, 94, 100);
}
.results_bar_ios {
    background-color: rgb(187, 179, 179);
    margin: 4vw;
    box-shadow: 2vw 2vw rgba(0, 0, 0, 0.7);
    
    position: relative;
}

.bar_ios {
    background-color: rgb(216, 97, 0);
    
    
    width: 50%;
    height: 6vw;
}

.results_bar_macos {
    background-color: rgb(173, 173, 173);
    margin: 4vw;
    box-shadow: 2vw 2vw rgba(0, 0, 0, 0.7);
    
    position: relative;
}

.bar_macos {
    background-color: rgb(184, 0, 129);
    
    
    width: 50%;
    height: 6vw;
}

.results_bar_windows {
    background-color: rgb(173, 173, 173);
    margin: 4vw;
    box-shadow: 2vw 2vw rgba(0, 0, 0, 0.7);
    
    position: relative;
}

.bar_windows {
    background-color: rgb(0, 80, 201);
    
    
    width: 50%;
    height: 6vw;
}

.results_bar_android {
    background-color: rgb(173, 173, 173);
    margin: 4vw;
    box-shadow: 2vw 2vw rgba(0, 0, 0, 0.7);
    
    position: relative;
}

.bar_android {
    background-color: rgb(0, 151, 8);
    
    
    width: 50%;
    height: 6vw;
}

@media only screen and (min-width: 600px){
    .results_bar_ios {
        margin: 30px;
        box-shadow: 12px 12px rgba(0, 0, 0, 0.7);
        
        position: relative;
    }
    
    .bar_ios {
        
        
        width: 50%;
        height: 40px;
    }

    .results_bar_macos {
        margin: 30px;
        
        box-shadow: 12px 12px rgba(0, 0, 0, 0.7);
        position: relative;
    }
    
    .bar_macos {
        
        
        width: 50%;
        height: 40px;
    }

    .results_bar_windows {
        margin: 30px;
        
        box-shadow: 12px 12px rgba(0, 0, 0, 0.7);
        position: relative;
    }
    
    .bar_windows {
        
        
        width: 50%;
        height: 40px;
    }

    .results_bar_android {
        margin: 30px;
        
        box-shadow: 12px 12px rgba(0, 0, 0, 0.7);
        position: relative;
    }
    
    .bar_android {
        
        
        width: 50%;
        height: 40px;
    }
}