@font-face {
    font-family: vga;
    src: url(vga2.woff);
}

body {
    background-color: rgb(16, 113, 120);
}

div.main {
    background-color: rgb(39, 69, 71);
}

input[type="button"] {
    background-color: rgb(7, 0, 105);
}

h1 {
    background-color: rgb(7, 0, 105);
}

.slider::-webkit-slider-thumb {
    background-color: rgb(7, 0, 105);
}
  
.slider::-moz-range-thumb {
    background-color: rgb(7, 0, 105);
}

.slider_a1::-webkit-slider-thumb {
    background-color: rgb(0, 99, 77);
}
  
.slider_a1::-moz-range-thumb {
    background-color: rgb(0, 99, 77);
}

.slider_a2::-webkit-slider-thumb {
    background-color: rgb(9, 114, 0);
}
  
.slider_a2::-moz-range-thumb {
    background-color: rgb(9, 114, 0);
}

.slider_a3::-webkit-slider-thumb {
    background-color: rgb(0, 75, 119);
}
  
.slider_a3::-moz-range-thumb {
    background-color: rgb(0, 75, 119);
}

.slider_a4::-webkit-slider-thumb {
    background-color: rgb(0, 40, 114);
}
  
.slider_a4::-moz-range-thumb {
    background-color: rgb(0, 40, 114);
}

.slider_a5::-webkit-slider-thumb {
    background-color: rgb(148, 138, 0);
}
  
.slider_a5::-moz-range-thumb {
    background-color: rgb(148, 138, 0);
}

.slider_a6::-webkit-slider-thumb {
    background-color: rgb(145, 106, 0);
}
  
.slider_a6::-moz-range-thumb {
    background-color: rgb(145, 106, 0);
}

.slider_a7::-webkit-slider-thumb {
    background-color: rgb(134, 0, 90);
}
  
.slider_a7::-moz-range-thumb {
    background-color: rgb(134, 0, 90);
}

.slider_a8::-webkit-slider-thumb {
    background-color: rgb(110, 0, 33);
}
  
.slider_a8::-moz-range-thumb {
    background-color: rgb(110, 0, 33);
}

.slider_a9::-webkit-slider-thumb {
    background-color: rgb(41, 0, 68);
}
  
.slider_a9::-moz-range-thumb {
    background-color: rgb(41, 0, 68);
}

.slider_a10::-webkit-slider-thumb {
    background-color: rgb(78, 0, 114);
}
  
.slider_a10::-moz-range-thumb {
    background-color: rgb(78, 0, 114);
}

.slider_a11::-webkit-slider-thumb {
    background-color: rgb(124, 50, 0);
}

.slider_a12::-webkit-slider-thumb {
    background-color: rgb(71, 39, 27);
}

.slider_a13::-webkit-slider-thumb {
    background-color: rgb(81, 90, 0);
}

.slider_a14::-webkit-slider-thumb {
    background-color: rgb(117, 143, 0);
}

.slider_a15::-webkit-slider-thumb {
    background-color: rgb(20, 20, 20);
}

.slider_a16::-webkit-slider-thumb {
    background-color: rgb(66, 66, 66);
}

.slider_a11::-moz-range-thumb {
    background-color: rgb(124, 50, 0);
}

.slider_a12::-moz-range-thumb {
    background-color: rgb(71, 39, 27);
}

.slider_a13::-moz-range-thumb {
    background-color: rgb(81, 90, 0);
}

.slider_a14::-moz-range-thumb {
    background-color: rgb(117, 143, 0);
}

.slider_a15::-moz-range-thumb {
    background-color: rgb(20, 20, 20);
}

.slider_a16::-moz-range-thumb {
    background-color: rgb(66, 66, 66);
}

.slider_a1 {
    background-color: rgb(178, 240, 226);
    color: rgb(40, 37, 30);
}

.slider_a2 {
    background-color: rgb(179, 236, 174);
    color: rgb(40, 37, 30);
}

.slider_a3 {
    background-color: rgb(173, 213, 236);
    color: rgb(40, 37, 30);
}

.slider_a4 {
    background-color: rgb(178, 200, 240);
    color: rgb(40, 37, 30);
}

.slider_a5 {
    background-color: rgb(240, 236, 188);
    color: rgb(40, 37, 30);
}

.slider_a6 {
    background-color: rgb(243, 228, 185);
    color: rgb(40, 37, 30);
}

.slider_a7 {
    background-color: rgb(243, 193, 226);
    color: rgb(40, 37, 30);
}

.slider_a8 {
    background-color: rgb(241, 188, 204);
    color: rgb(40, 37, 30);
}

.slider_a9 {
    background-color: rgb(220, 192, 240);
    color: rgb(40, 37, 30);
}

.slider_a10 {
    background-color: rgb(232, 205, 245);
    color: rgb(40, 37, 30);
}

.slider_a11 {
    background-color: rgb(245, 218, 200);
    color: rgb(40, 37, 30);
}

.slider_a12 {
    background-color: rgb(231, 206, 196);
    color: rgb(40, 37, 30);
}

.slider_a13 {
    background-color: rgb(248, 255, 186);
    color: rgb(40, 37, 30);
}

.slider_a14 {
    background-color: rgb(242, 255, 185);
    color: rgb(40, 37, 30);
}

.slider_a15 {
    background-color: rgb(209, 209, 209);
    color: rgb(40, 37, 30);
}

.slider_a16 {
    background-color: rgb(235, 235, 235);
    color: rgb(40, 37, 30);
}

.results_bar {
    background-color: rgb(173, 173, 173);
    margin: 4vw;
    box-shadow: 2vw 2vw rgba(0, 0, 0, 0.7);
    position: relative;
}

.bar {
    background-color: rgb(16, 113, 120);
    width: 50%;
    height: 6vw;
}

@media only screen and (min-width: 600px) {
    .results_bar {
        margin: 30px;
        box-shadow: 12px 12px rgba(0, 0, 0, 0.7);
        position: relative;
    }
    
    .bar {
        width: 50%;
        height: 40px;
    }
}