body {
    background-color: rgb(230, 111, 0)
}

div.main {
    background-color: rgb(121, 58, 0)
}

input[type="button"] {
    background-color: rgb(56, 56, 56)
}

h1 {
    background-color: rgb(56, 56, 56)
}

.pre {
    font-weight: bold;
}

.results_bar {
    background-color: rgb(173, 173, 173);
    margin: 4vw;
    box-shadow: 2vw 2vw rgba(0, 0, 0, 0.7);
    
    position: relative;
}

.bar_OTEs {
    background-color: rgb(0, 160, 93);
    
    
    width: 50%;
    height: 6vw;
}

.bar_CONs {
    background-color: rgb(0, 100, 167);
    
    
    width: 50%;
    height: 6vw;
}

.bar_EXTs {
    background-color: rgb(199, 146, 0);
    
    
    width: 50%;
    height: 6vw;
}

.bar_AGRs {
    background-color: rgb(190, 0, 57);
    
    
    width: 50%;
    height: 6vw;
}

.bar_NEUs {
    background-color: rgb(121, 0, 177);
    
    
    width: 50%;
    height: 6vw;
}

.bar_vit {
    background-color: rgb(80, 177, 0);
    
    
    width: 50%;
    height: 6vw;
}

.bar_mat {
    background-color: rgb(177, 130, 0);
    
    
    width: 50%;
    height: 6vw;
}

.bar_gi {
    background-color: rgb(186, 0, 192);
    
    
    width: 50%;
    height: 6vw;
}

.bar_ap {
    background-color: rgb(204, 0, 0);
    
    
    width: 50%;
    height: 6vw;
}

.bar_Fe {
    background-color: rgb(175, 0, 131);
    
    
    width: 50%;
    height: 6vw;
}

.bar_Fi {
    background-color: rgb(94, 0, 122);
    
    
    width: 50%;
    height: 6vw;
}

.bar_Ne {
    background-color: rgb(207, 142, 0);
    
    
    width: 50%;
    height: 6vw;
}

.bar_Ni {
    background-color: rgb(129, 121, 0);
    
    
    width: 50%;
    height: 6vw;
}

.bar_Se {
    background-color: rgb(26, 153, 0);
    
    
    width: 50%;
    height: 6vw;
}

.bar_Si {
    background-color: rgb(0, 99, 44);
    
    
    width: 50%;
    height: 6vw;
}

.bar_Te {
    background-color: rgb(0, 109, 199);
    
    
    width: 50%;
    height: 6vw;
}

.bar_Ti {
    background-color: rgb(0, 22, 150);
    
    
    width: 50%;
    height: 6vw;
}

.bar_1 {
    background-color: rgb(50, 102, 150);
    
    
    width: 50%;
    height: 6vw;
}


.bar_2 {
    background-color: rgb(177, 0, 97);
    
    
    width: 50%;
    height: 6vw;
}

.bar_3 {
    background-color: rgb(168, 137, 0);
    
    
    width: 50%;
    height: 6vw;
}

.bar_4 {
    background-color: rgb(71, 0, 165);
    
    
    width: 50%;
    height: 6vw;
}

.bar_5 {
    background-color: rgb(0, 133, 82);
    
    
    width: 50%;
    height: 6vw;
}

.bar_6 {
    background-color: rgb(107, 156, 43);
    
    
    width: 50%;
    height: 6vw;
}

.bar_7 {
    background-color: rgb(201, 64, 0);
    
    
    width: 50%;
    height: 6vw;
}

.bar_8 {
    background-color: rgb(139, 0, 0);
    
    
    width: 50%;
    height: 6vw;
}

.bar_9 {
    background-color: rgb(102, 102, 102);
    
    
    width: 50%;
    height: 6vw;
}

.charts {
    grid-template-columns: 40vw 40vw;
    grid-template-rows: 40vw 40vw 40vw 40vw 40vw;
    gap: 3vw;
    justify-content: center;
}

.visual_container {
    position: relative;
    box-shadow: 2vw 2vw rgba(0, 0, 0, 0.7);
}

.visual_container_align {
    position: relative;
    
    margin: 1.2vw;
}

.alignment_results {
    grid-template-columns: 28vw 28vw 28vw;
    grid-template-rows: 28vw 28vw 28vw;
    justify-content: center;
    font-weight: bold;
    font-size: 5vw;
}

.center_text {
    position: relative;
    top: 40%;
    width: 100%;
    text-align: center;
    color: rgb(20, 20, 20);
}


.center_text_align {
    position: relative;
    top: 30%;
    width: 100%;
    text-align: center;
}

.LG {
    background-color: rgb(89, 231, 224);
    color: rgb(20, 20, 20);
}

.NG {
    background-color: rgb(89, 241, 102);
    color: rgb(20, 20, 20);
}

.CG {
    background-color: rgb(221, 238, 71);
    color: rgb(20, 20, 20);
    box-shadow: 2vw 2vw rgba(0, 0, 0, 0.7);
    
}

.LN {
    background-color: rgb(27, 118, 223);
    
}

.TN {
    background-color: rgb(22, 175, 22);
}

.CN {
    background-color: rgb(240, 162, 18);
    box-shadow: 2vw 2vw rgba(0, 0, 0, 0.7);
}

.LE {
    background-color: rgb(59, 0, 114);
    box-shadow: 2vw 2vw rgba(0, 0, 0, 0.7);
}

.NE {
    background-color: rgb(2, 71, 0);

    box-shadow: 2vw 2vw rgba(0, 0, 0, 0.7);
}

.CE {
    background-color: rgb(145, 29, 0);
    box-shadow: 2vw 2vw rgba(0, 0, 0, 0.7);

}

.sw_container {
    grid-template-columns: 40vw 40vw;
    grid-template-rows: auto;
    justify-content: center;
}

.strength {
    background-color: rgb(230, 225, 215);
    font-size: 3.3vw;
    width: 90%;
    text-align: center;
    margin: auto;
    margin-top: 3vw;
    margin-bottom: 3vw;
    padding: 1vw;
}

.weakness {
    
    background-color: rgb(230, 225, 215);
    
    font-size: 3.3vw;
    width: 90%;
    text-align: center;
    margin: auto;
    margin-top: 3vw;
    margin-bottom: 3vw;
    padding: 1vw;
}

.point {
    position: absolute;
    width: 0.1vw;
    height: 0.1vw;
    
    outline: rgb(0, 0, 0) solid 2vw;
    background-color: black;
    bottom: 0%;
    left: 0%;
}

.point_align {
    position: absolute;
    width: 0.1vw;
    height: 0.1vw;
    
    outline: rgb(0, 0, 0) solid 2vw;
    background-color: black;
    bottom: 0%;
    left: 0%;
}

.visual_results_oc {
    grid-template-columns: 20vw 20vw;
    grid-template-rows: 20vw 20vw;
    justify-content: center;
    font-weight: bold;
    font-size: 2.7vw;
    background-image: url(big5/IMG_3133.png);
    background-size: cover;
    
}

.visual_results_oe {
    grid-template-columns: 20vw 20vw;
    grid-template-rows: 20vw 20vw;
    justify-content: center;
    font-weight: bold;
    font-size: 2.7vw;
    background-image: url(big5/IMG_3134.png);
    background-size: cover;
    
}

.visual_results_oa {
    grid-template-columns: 20vw 20vw;
    grid-template-rows: 20vw 20vw;
    justify-content: center;
    font-weight: bold;
    font-size: 2.7vw;
    background-image: url(big5/IMG_3135.png);
    background-size: cover;
    
}

.visual_results_on {
    grid-template-columns: 20vw 20vw;
    grid-template-rows: 20vw 20vw;
    justify-content: center;
    font-weight: bold;
    font-size: 2.7vw;
    background-image: url(big5/IMG_3136.png);
    background-size: cover;
    
}

.visual_results_ce {
    grid-template-columns: 20vw 20vw;
    grid-template-rows: 20vw 20vw;
    justify-content: center;
    font-weight: bold;
    font-size: 2.7vw;
    background-image: url(big5/IMG_3137.png);
    background-size: cover;
    
}

.visual_results_ca {
    grid-template-columns: 20vw 20vw;
    grid-template-rows: 20vw 20vw;
    justify-content: center;
    font-weight: bold;
    font-size: 2.7vw;
    background-image: url(big5/IMG_3138.png);
    background-size: cover;
    
}

.visual_results_cn {
    grid-template-columns: 20vw 20vw;
    grid-template-rows: 20vw 20vw;
    justify-content: center;
    font-weight: bold;
    font-size: 2.7vw;
    background-image: url(big5/IMG_3139.png);
    background-size: cover;
    
}

.visual_results_ea {
    grid-template-columns: 20vw 20vw;
    grid-template-rows: 20vw 20vw;
    justify-content: center;
    font-weight: bold;
    font-size: 2.7vw;
    background-image: url(big5/IMG_3140.png);
    background-size: cover;
    
}

.visual_results_en {
    grid-template-columns: 20vw 20vw;
    grid-template-rows: 20vw 20vw;
    justify-content: center;
    font-weight: bold;
    font-size: 2.7vw;
    background-image: url(big5/IMG_3141.png);
    background-size: cover;
    
}

.visual_results_an {
    grid-template-columns: 20vw 20vw;
    grid-template-rows: 20vw 20vw;
    justify-content: center;
    font-weight: bold;
    font-size: 2.7vw;
    background-image: url(big5/IMG_3142.png);
    background-size: cover;
    
}

.visual_results_social {
    grid-template-columns: 20vw 20vw;
    grid-template-rows: 20vw 20vw;
    justify-content: center;
    font-weight: bold;
    font-size: 2.7vw;
    background-image: url(big5/IMG_3150.png);
    background-size: cover;
    
}

.visual_results_kei {
    grid-template-columns: 20vw 20vw;
    grid-template-rows: 20vw 20vw;
    justify-content: center;
    font-weight: bold;
    font-size: 2.7vw;
    background-image: url(big5/IMG_3149.png);
    background-size: cover;
    
}

.visual_results_mental {
    grid-template-columns: 20vw 20vw;
    grid-template-rows: 20vw 20vw;
    justify-content: center;
    font-weight: bold;
    font-size: 2.7vw;
    background-image: url(big5/IMG_3148.png);
    background-size: cover;
    
}

.visual_results_org {
    grid-template-columns: 20vw 20vw;
    grid-template-rows: 20vw 20vw;
    justify-content: center;
    font-weight: bold;
    font-size: 2.7vw;
    background-image: url(big5/IMG_3151.png);
    background-size: cover;
    
}

.visual_results_mtemp {
    grid-template-columns: 20vw 20vw;
    grid-template-rows: 20vw 20vw;
    justify-content: center;
    font-weight: bold;
    font-size: 2.7vw;
    background-image: url(big5/IMG_3147.png);
    background-size: cover;
    
}

.visual_results_enn {
    grid-template-columns: 20vw 20vw;
    grid-template-rows: 20vw 20vw;
    justify-content: center;
    font-weight: bold;
    font-size: 2.7vw;
    background-image: url(big5/IMG_3146.png);
    background-size: cover;
    
}


.ennea {
    font-weight: bold;
}

.cpti {
    font-weight: bold;
}

.big5 {
    font-size: 4vw
}

@media only screen and (min-width: 600px){
    .results_bar {
        margin: 30px;
        box-shadow: 12px 12px rgba(0, 0, 0, 0.7);
        
        position: relative;
    }
    
    .bar_OTEs {
        
        
        width: 50%;
        height: 40px;
    }
    
    .bar_CONs {
        
        
        width: 50%;
        height: 40px;
    }
    
    .bar_EXTs {
        
        
        width: 50%;
        height: 40px;
    }
    
    .bar_AGRs {
        
        
        width: 50%;
        height: 40px;
    }
    
    .bar_NEUs {
        
        
        width: 50%;
        height: 40px;
    }
    
    .bar_vit {
        
        
        width: 50%;
        height: 40px;
    }
    
    .bar_mat {
        
        
        width: 50%;
        height: 40px;
    }
    
    .bar_gi {
        
        
        width: 50%;
        height: 40px;
    }
    
    .bar_ap {
        
        
        width: 50%;
        height: 40px;
    }

    .bar_Se {
        
        
        width: 50%;
        height: 40px;
    }
    
    .bar_Si {
        
        
        width: 50%;
        height: 40px;
    }
    
    .bar_Ne {
        
        
        width: 50%;
        height: 40px;
    }
    
    .bar_Ni {
        
        
        width: 50%;
        height: 40px;
    }

    .bar_Te {
        
        
        width: 50%;
        height: 40px;
    }
    
    .bar_Ti {
        
        
        width: 50%;
        height: 40px;
    }
    
    .bar_Fe {
        
        
        width: 50%;
        height: 40px;
    }
    
    .bar_Fi {
        
        
        width: 50%;
        height: 40px;
    }

    .bar_1 {
        
        
        width: 50%;
        height: 40px;
    }

    .bar_2 {
        
        
        width: 50%;
        height: 40px;
    }
    
    .bar_3 {
        
        
        width: 50%;
        height: 40px;
    }

    .bar_4 {
        
        
        width: 50%;
        height: 40px;
    }

    .bar_5 {
        
        
        width: 50%;
        height: 40px;
    }

    .bar_6 {
        
        
        width: 50%;
        height: 40px;
    }
    
    .bar_7 {
        
        
        width: 50%;
        height: 40px;
    }
    
    .bar_8 {
        
        
        width: 50%;
        height: 40px;
    }
    
    .bar_9 {
        
        
        width: 50%;
        height: 40px;
    }

    .visual_container {
        margin: 0px;
        position: relative;
        
        
    }
    
    .point {
        position: absolute;
        width: 1px;
        height: 1px;
        
        outline: rgb(0, 0, 0) solid 10px;
        background-color: black;
        bottom: 0%;
        left: 0%;
    }

    .point_align {
        position: absolute;
        width: 1px;
        height: 1px;
        outline: rgb(0, 0, 0) solid 10px;
        background-color: black;
        bottom: 0%;
        left: 0%;
    }

    .charts {
        grid-template-columns: 250px 250px;
        grid-template-rows: 250px 250px 250px 250px 250px;
        gap: 20px;
        justify-content: center;
    }
    
    .visual_results {
        grid-template-columns: 125px 125px;
        grid-template-rows: 125px 125px;
        justify-content: center;
        font-weight: bold;
        font-size: 12pt;
        
    }
    
    .visual_results_oc {
        grid-template-columns: 125px 125px;
        grid-template-rows: 125px 125px;
        justify-content: center;
        font-weight: bold;
        font-size: 12pt;
        
    }
    
    .visual_results_oe {
        grid-template-columns: 125px 125px;
        grid-template-rows: 125px 125px;
        justify-content: center;
        font-weight: bold;
        font-size: 12pt;
        
    }
    
    .visual_results_oa {
        grid-template-columns: 125px 125px;
        grid-template-rows: 125px 125px;
        justify-content: center;
        font-weight: bold;
        font-size: 12pt;
        
    }
    
    .visual_results_on {
        grid-template-columns: 125px 125px;
        grid-template-rows: 125px 125px;
        justify-content: center;
        font-weight: bold;
        font-size: 12pt;
        
    }
    
    .visual_results_ce {
        grid-template-columns: 125px 125px;
        grid-template-rows: 125px 125px;
        justify-content: center;
        font-weight: bold;
        font-size: 12pt;
        
    }
    
    .visual_results_ca {
        grid-template-columns: 125px 125px;
        grid-template-rows: 125px 125px;
        justify-content: center;
        font-weight: bold;
        font-size: 12pt;
        
    }
    
    .visual_results_cn {
        grid-template-columns: 125px 125px;
        grid-template-rows: 125px 125px;
        justify-content: center;
        font-weight: bold;
        font-size: 12pt;
        
    }
    
    .visual_results_ea {
        grid-template-columns: 125px 125px;
        grid-template-rows: 125px 125px;
        justify-content: center;
        font-weight: bold;
        font-size: 12pt;
        
    }
    
    .visual_results_en {
        grid-template-columns: 125px 125px;
        grid-template-rows: 125px 125px;
        justify-content: center;
        font-weight: bold;
        font-size: 12pt;
        
    }
    
    .visual_results_an {
        grid-template-columns: 125px 125px;
        grid-template-rows: 125px 125px;
        justify-content: center;
        font-weight: bold;
        font-size: 12pt;
        
    }
    
    .visual_results_social {
        grid-template-columns: 125px 125px;
        grid-template-rows: 125px 125px;
        justify-content: center;
        font-weight: bold;
        font-size: 12pt;
        
    }
    
    .visual_results_kei {
        grid-template-columns: 125px 125px;
        grid-template-rows: 125px 125px;
        justify-content: center;
        font-weight: bold;
        font-size: 12pt;
        
    }
    
    .visual_results_mental {
        grid-template-columns: 125px 125px;
        grid-template-rows: 125px 125px;
        justify-content: center;
        font-weight: bold;
        font-size: 12pt;
        
    }
    
    .visual_results_org {
        grid-template-columns: 125px 125px;
        grid-template-rows: 125px 125px;
        justify-content: center;
        font-weight: bold;
        font-size: 12pt;
        
    }
    
    .visual_results_mtemp {
        grid-template-columns: 125px 125px;
        grid-template-rows: 125px 125px;
        justify-content: center;
        font-weight: bold;
        font-size: 12pt;
        
    }
    
    .visual_results_enn {
        grid-template-columns: 125px 125px;
        grid-template-rows: 125px 125px;
        justify-content: center;
        font-weight: bold;
        font-size: 12pt;
        
    }

    .big5 {
        font-size: 20px
    }

    .sw_container {
        grid-template-columns: 250px 250px;
        grid-template-rows: auto;
        justify-content: center;
    }
    
    .strength {
        padding: 5px;
        box-shadow: 12px 12px rgba(0, 0, 0, 0.7);
        font-size: 16px;
        text-align: center;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .weakness {
        padding: 5px;
        box-shadow: 12px 12px rgba(0, 0, 0, 0.7);
        font-size: 16px;
        text-align: center;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .visual_container_align {
        position: relative;
        
        
        margin: 9px;
    }

    .alignment_results {
        grid-template-columns: 178px 178px 178px;
        grid-template-rows: 178px 178px 178px;
        justify-content: center;
        font-weight: bold;
        font-size: 24pt;
    }
    
    .center_text {
        position: relative;
        top: 42%;
        width: 100%;
        text-align: center;
    }

    .center_text_align {
        position: relative;
        top: 32%;
        width: 100%;
        text-align: center;
    }

    .CG, .CN, .LE, .NE, .CE {
        box-shadow: 12px 12px rgba(0, 0, 0, 0.7);
    }
}